.loginForm{
    background-image: url("../../public/assets/fitnessImage/fitnessImg17.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; 
}
.loginCont{
    width: 400px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    padding: 0 50px;
    border-right: 5px solid red;
    box-shadow: 3px 3px 10px 0 rgb(50, 33, 33);
}
.loginForm form{
    width: 100%;
    margin-top: 80px;
}
.loginForm form input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #EEEEEE;
    background-color: transparent;
    outline: none;
    color: #EEEEEE;
    font-size: 18px;
    font-size: "Barlow", sans-serif;
}
.loginForm form button{
    width: 150px;
    border: transparent;
    height: 40px;
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
    background-color: red;
    color: white;
}
.loginForm .loginCont h1{
    text-transform: uppercase;
    color: white;
    font-family: 'Teko', sans-serif;
    font-weight: 600;
    font-size: 50px;
    margin: auto;
    margin-top: 20px;
}

@media screen and (max-width: 700px){
    .loginForm .loginCont{
        position: relative;
        width: 100%;
        height: 100vh;
        margin: auto;
        border: none;
        box-shadow: none;
    }
    .loginForm{
        height: 100vh; 
        background-image: none;
    }
    .loginForm .loginCont h1{
        margin-top: 0;
        padding-top: 20px;
    }
}
