.services{
     margin-top: 150px;
     position: relative;
}
.sub-services{
    background-image: url("../../public/assets/fitnessImage/fitnessimg21.jpg");
    /* background-image: url("../../public/assets/fitnessImage/fitnessImg16.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 170vh;
}
.wrapper{
    width: 100%;
    margin: auto;
    background-color: rgba(14, 13, 13, 0.289);
    height: 170vh;
}
.sub-services h1{
    font-family: "Teko", sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    color: white;
    width: 95%;
    text-align: center;
}
.ourServices {
    position: absolute;
    top: 200px;
    left: 4.5%;
}
.serve{
    display: flex;
    justify-content: center;
    width: 95%;
    /* margin: auto; */

}
.serve div{
    width: 30%;
    height: 400px;
    margin: 100px auto;
    background-color: white;
    /* margin-right: 20px; */
}
.icon{
    font-size: 50px;
    margin-top: 50px;
    color: rgb(28, 0, 28)
}
.title{
    font-size: 35px;
    margin: 40px 0;
    text-transform: uppercase;
    font-family: "Teko", sans-serif;
    color: rgb(28, 0, 28);
}
.para{
    font-family: "Barlow", sans-serif;
    color: rgb(28, 0, 28);

}
@media screen and (max-width: 1000px){
    .sub-services{
        height: 140vh;
    }
    .wrapper{
        height: 140vh;
    }
}
@media screen and (max-width: 1000px){

    .serve{
        display: block;
        width: 40%;
        margin: auto;
    }
    .serve div{
        width: 100%;
        height: 350px;
        margin: auto;
        margin-top: 30px;
    }
    .sub-services{
        height: 230vh;
    }
    .wrapper{
        height: 230vh;
    }
    .ourServices{
        left: 0;
    }
    .sub-services h1{
        width: 100%;
    }
}
@media screen and (max-width: 700px){
    .serve div{
        width: 100%;
        height: 350px;
    }
    .serve{
        width: 300px;
        margin: auto;
    }
    .ourServices{
        width: 100%;
    }
}
