.signupForm{
    height: 100vh; 
    /* background-image: url("../../public/assets/fitnessImage/fitnessImg9.jpg"); */
    background-color: rgb(247, 161, 247);
    background-size: cover;
    background-repeat: no-repeat;
    border-left: 70px dashed rgb(28, 0, 28);
}
.signupForm .formCont{
    position: fixed;
    width: 500px;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(28, 0, 28);
    padding: 0 50px;
    border-left: 5px solid rgb(247, 161, 247);
    box-shadow: 3px 3px 10px 0 rgb(50, 33, 33);
}
.signupForm form{
    width: 100%;
    margin-top: 80px;
}
.signupForm form input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #EEEEEE;
    background-color: transparent;
    outline: none;
    color: #EEEEEE;
    font-size: 18px;
    font-size: "Barlow", sans-serif;
}
.signupForm form button{
    width: 100%;
    border: transparent;
    height: 40px;
    margin-top: 30px;
    background-color: rgb(247, 161, 247);
    color: rgb(0, 0, 0);
}
.signupForm .formCont .logo{
        text-transform: uppercase;
        color: white;
        font-family: 'Teko', sans-serif;
        font-weight: 600;
        font-size: 50px;
        margin: 0 auto;
        margin-top: 20px;
}

@media screen and (max-width: 700px){
    .signupForm .formCont{
        position: relative;
        width: 100%;
        height: 100vh;
        margin: auto;
        border: none;
        box-shadow: none;
    }
    .signupForm{
        border: none;
    }
    .signupForm .formCont .logo{
        margin-top: 0;
        padding-top: 20px;
    }
}